.user-img {
    height: 200px;
    width: 200px;
    margin-top: 3em;
    border-radius: 50%;
}

.heading{
    color: #F44336;
}

a{
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: underline;
}

.side-bar{
    height: 100%;
    width: 20%;
    background-color: #5040da;
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
    position: fixed;
}

body{
    margin: 0px;
    overflow-x: hidden;
    background-color: #f1e7f1; 	   
}

.main{
    position: absolute;
    left: 20%;
    top: 0px;
    width: 80%;
    height: 100%;
}

.details{
    padding: 5% 20px;
}

.container{
    width: 68%;
    margin: auto;
}


.subheading {
    font-size: 36px;
    cursor: pointer;
}

.content{
    font-size: 16px;
    display: none;
}


footer{
    position: fixed;
    bottom: 0px;
    background-color: rgb(34, 33, 33);
    color: white;
    width: 80%;
    height: 50px;
}

footer p{
    position: absolute;
    left: 30%;
}
